html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #f8f9fa;
}
html .page-header,
body .page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
html .page-layout,
body .page-layout {
  gap: 20px;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: 2.2fr 1fr;
  min-height: 100vh;
  min-width: 1200px;
  width: 100%;
  padding: 0 20px 20px 20px;
  box-sizing: border-box;
  grid-template-areas: "left-layout right-layout" "bottom-layout bottom-layout";
}
html .page-layout .left-layout,
body .page-layout .left-layout {
  display: flex;
  flex-direction: column;
  gap: 20px;
  grid-area: left-layout;
}
html .page-layout .left-layout .card,
body .page-layout .left-layout .card {
  background-color: #ffffff;
  border-radius: 4px;
  border: 1px solid #d1d5db;
  padding: 0;
  display: flex;
  flex-direction: column;
}
html .page-layout .left-layout .card .card__header,
body .page-layout .left-layout .card .card__header {
  border-bottom: 1px solid #d1d5db;
  padding: 16px 20px;
  flex-shrink: 0;
}
html .page-layout .left-layout .card .card__content,
body .page-layout .left-layout .card .card__content {
  padding: 20px;
  flex: 1;
}
html .page-layout .left-layout .card:nth-child(1),
body .page-layout .left-layout .card:nth-child(1) {
  flex: 1.5;
}
html .page-layout .left-layout .card:nth-child(1) .card__content,
body .page-layout .left-layout .card:nth-child(1) .card__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 20px;
}
html .page-layout .left-layout .card:nth-child(1) .card__content .usage-cards,
body .page-layout .left-layout .card:nth-child(1) .card__content .usage-cards {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
}
html .page-layout .left-layout .card:nth-child(1) .card__content .usage-cards .year-card,
body .page-layout .left-layout .card:nth-child(1) .card__content .usage-cards .year-card {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
html .page-layout .left-layout .card:nth-child(1) .card__content .usage-cards .year-card .content .saving-info-row tp-text,
body .page-layout .left-layout .card:nth-child(1) .card__content .usage-cards .year-card .content .saving-info-row tp-text {
  display: inline-flex;
}
html .page-layout .left-layout .card:nth-child(1) .card__content .usage-cards .year-card .content,
body .page-layout .left-layout .card:nth-child(1) .card__content .usage-cards .year-card .content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  background-color: #fafbfb;
}
html .page-layout .left-layout .card:nth-child(1) .card__content .usage-cards .year-card .content .gauge-container tp-text,
body .page-layout .left-layout .card:nth-child(1) .card__content .usage-cards .year-card .content .gauge-container tp-text {
  margin-top: 13px;
}
html .page-layout .left-layout .card:nth-child(1) .card__content .usage-cards .year-card .content .gauge-container,
body .page-layout .left-layout .card:nth-child(1) .card__content .usage-cards .year-card .content .gauge-container {
  position: relative;
  padding-top: 30px;
  margin: 0px;
  min-height: 65px;
  flex-shrink: 0;
}
html .page-layout .left-layout .card:nth-child(1) .card__content .usage-cards .year-card .content .gauge-container .percent-badge,
body .page-layout .left-layout .card:nth-child(1) .card__content .usage-cards .year-card .content .gauge-container .percent-badge {
  position: absolute;
  left: 0px;
  top: 0px;
  transform: translateX(-50%);
  background-color: #000;
  color: #fff;
  padding: 2px 8px;
  border-radius: 12px;
  font-size: 11px;
  font-weight: bold;
  white-space: nowrap;
  z-index: 10;
}
html .page-layout .left-layout .card:nth-child(1) .card__content .usage-cards .year-card .content .gauge-container .percent-badge::after,
body .page-layout .left-layout .card:nth-child(1) .card__content .usage-cards .year-card .content .gauge-container .percent-badge::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 50%;
  transform: translateX(-50%);
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 5px solid #1a1c1e;
}
html .page-layout .left-layout .card:nth-child(1) .card__content .usage-cards .year-card .content .gauge-container .gauge-wrapper,
body .page-layout .left-layout .card:nth-child(1) .card__content .usage-cards .year-card .content .gauge-container .gauge-wrapper {
  display: flex;
  align-items: center;
  height: 24px;
  gap: 0;
}
html .page-layout .left-layout .card:nth-child(1) .card__content .usage-cards .year-card .content .gauge-container .gauge-wrapper .gauge-segment,
body .page-layout .left-layout .card:nth-child(1) .card__content .usage-cards .year-card .content .gauge-container .gauge-wrapper .gauge-segment {
  height: 100%;
  border-radius: 4px;
}
html .page-layout .left-layout .card:nth-child(1) .card__content .usage-cards .year-card .content .gauge-container .gauge-wrapper .gauge-segment.attained,
body .page-layout .left-layout .card:nth-child(1) .card__content .usage-cards .year-card .content .gauge-container .gauge-wrapper .gauge-segment.attained {
  background-color: #60c671;
}
html .page-layout .left-layout .card:nth-child(1) .card__content .usage-cards .year-card .content .gauge-container .gauge-wrapper .gauge-segment.remaining,
body .page-layout .left-layout .card:nth-child(1) .card__content .usage-cards .year-card .content .gauge-container .gauge-wrapper .gauge-segment.remaining {
  background-color: #94d3aa;
}
html .page-layout .left-layout .card:nth-child(1) .card__content .usage-cards .year-card .content .gauge-container .gauge-wrapper .gauge-divider,
body .page-layout .left-layout .card:nth-child(1) .card__content .usage-cards .year-card .content .gauge-container .gauge-wrapper .gauge-divider {
  width: 4px;
  height: 100%;
  background-color: #1a1c1e;
  margin: 0 4px;
  z-index: 1;
}
html .page-layout .left-layout .card:nth-child(1) .card__content .usage-cards .month-card,
body .page-layout .left-layout .card:nth-child(1) .card__content .usage-cards .month-card {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
html .page-layout .left-layout .card:nth-child(1) .card__content .usage-cards .month-card .content .saving-info-row tp-text,
body .page-layout .left-layout .card:nth-child(1) .card__content .usage-cards .month-card .content .saving-info-row tp-text {
  display: inline-flex;
}
html .page-layout .left-layout .card:nth-child(1) .card__content .usage-cards .month-card .content,
body .page-layout .left-layout .card:nth-child(1) .card__content .usage-cards .month-card .content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  background-color: #fafbfb;
}
html .page-layout .left-layout .card:nth-child(1) .card__content .usage-cards .month-card .content .gauge-container tp-text,
body .page-layout .left-layout .card:nth-child(1) .card__content .usage-cards .month-card .content .gauge-container tp-text {
  margin-top: 13px;
}
html .page-layout .left-layout .card:nth-child(1) .card__content .usage-cards .month-card .content .gauge-container,
body .page-layout .left-layout .card:nth-child(1) .card__content .usage-cards .month-card .content .gauge-container {
  position: relative;
  padding-top: 30px;
  margin: 0px;
  min-height: 65px;
  flex-shrink: 0;
}
html .page-layout .left-layout .card:nth-child(1) .card__content .usage-cards .month-card .content .gauge-container .percent-badge,
body .page-layout .left-layout .card:nth-child(1) .card__content .usage-cards .month-card .content .gauge-container .percent-badge {
  position: absolute;
  left: 0px;
  top: 0px;
  transform: translateX(-50%);
  background-color: #000;
  color: #fff;
  padding: 2px 8px;
  border-radius: 12px;
  font-size: 11px;
  font-weight: bold;
  white-space: nowrap;
  z-index: 10;
}
html .page-layout .left-layout .card:nth-child(1) .card__content .usage-cards .month-card .content .gauge-container .percent-badge::after,
body .page-layout .left-layout .card:nth-child(1) .card__content .usage-cards .month-card .content .gauge-container .percent-badge::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 50%;
  transform: translateX(-50%);
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 5px solid #1a1c1e;
}
html .page-layout .left-layout .card:nth-child(1) .card__content .usage-cards .month-card .content .gauge-container .gauge-wrapper,
body .page-layout .left-layout .card:nth-child(1) .card__content .usage-cards .month-card .content .gauge-container .gauge-wrapper {
  display: flex;
  align-items: center;
  height: 24px;
  gap: 0;
}
html .page-layout .left-layout .card:nth-child(1) .card__content .usage-cards .month-card .content .gauge-container .gauge-wrapper .gauge-segment,
body .page-layout .left-layout .card:nth-child(1) .card__content .usage-cards .month-card .content .gauge-container .gauge-wrapper .gauge-segment {
  height: 100%;
  border-radius: 4px;
}
html .page-layout .left-layout .card:nth-child(1) .card__content .usage-cards .month-card .content .gauge-container .gauge-wrapper .gauge-segment.attained,
body .page-layout .left-layout .card:nth-child(1) .card__content .usage-cards .month-card .content .gauge-container .gauge-wrapper .gauge-segment.attained {
  background-color: #ff9500;
}
html .page-layout .left-layout .card:nth-child(1) .card__content .usage-cards .month-card .content .gauge-container .gauge-wrapper .gauge-segment.remaining,
body .page-layout .left-layout .card:nth-child(1) .card__content .usage-cards .month-card .content .gauge-container .gauge-wrapper .gauge-segment.remaining {
  background-color: #ffdeb0;
}
html .page-layout .left-layout .card:nth-child(1) .card__content .usage-cards .month-card .content .gauge-container .gauge-wrapper .gauge-divider,
body .page-layout .left-layout .card:nth-child(1) .card__content .usage-cards .month-card .content .gauge-container .gauge-wrapper .gauge-divider {
  width: 4px;
  height: 100%;
  background-color: #1a1c1e;
  margin: 0 4px;
  z-index: 1;
}
html .page-layout .left-layout .card:nth-child(1) .card__content #line-chart,
body .page-layout .left-layout .card:nth-child(1) .card__content #line-chart {
  width: 100%;
  height: 100%;
}
html .page-layout .left-layout .card:nth-child(2),
body .page-layout .left-layout .card:nth-child(2) {
  flex: 1;
}
html .page-layout .left-layout .card:nth-child(2) .card__content,
body .page-layout .left-layout .card:nth-child(2) .card__content {
  display: flex;
  gap: 20px;
  justify-content: flex-start;
  align-items: center;
}
html .page-layout .left-layout .card:nth-child(2) .card__content .card__text,
body .page-layout .left-layout .card:nth-child(2) .card__content .card__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}
html .page-layout .left-layout .card:nth-child(2) .card__content .card__text .row tp-text,
body .page-layout .left-layout .card:nth-child(2) .card__content .card__text .row tp-text {
  display: inline-block;
}
html .page-layout .left-layout .card:nth-child(2) .card__content .card__text .row,
body .page-layout .left-layout .card:nth-child(2) .card__content .card__text .row {
  display: flex;
  align-items: center;
  gap: 8px;
}
html .page-layout .right-layout,
body .page-layout .right-layout {
  display: flex;
  flex-direction: column;
  gap: 20px;
  grid-area: right-layout;
}
html .page-layout .right-layout .card,
body .page-layout .right-layout .card {
  background-color: #ffffff;
  border-radius: 4px;
  border: 1px solid #d1d5db;
  padding: 0;
  display: flex;
  flex-direction: column;
}
html .page-layout .right-layout .card .card__header,
body .page-layout .right-layout .card .card__header {
  border-bottom: 1px solid #d1d5db;
  padding: 16px 20px;
  flex-shrink: 0;
}
html .page-layout .right-layout .card .card__content,
body .page-layout .right-layout .card .card__content {
  padding: 20px;
  flex: 1;
}
html .page-layout .right-layout .card:nth-child(1),
body .page-layout .right-layout .card:nth-child(1) {
  background-color: #ffffff;
  border-radius: 4px;
  border: 1px solid #d1d5db;
  padding: 0;
  display: flex;
  flex-direction: column;
}
html .page-layout .right-layout .card:nth-child(1) .card__header,
body .page-layout .right-layout .card:nth-child(1) .card__header {
  border-bottom: 1px solid #d1d5db;
  padding: 16px 20px;
  flex-shrink: 0;
}
html .page-layout .right-layout .card:nth-child(1) .card__content,
body .page-layout .right-layout .card:nth-child(1) .card__content {
  padding: 20px 24px;
  flex: 1;
}
html .page-layout .right-layout .card:nth-child(1) .card__content,
body .page-layout .right-layout .card:nth-child(1) .card__content {
  flex: 1;
  display: flex;
  justify-content: center;
  gap: 20px;
}
html .page-layout .right-layout .card:nth-child(1) .card__content .vertical-divider,
body .page-layout .right-layout .card:nth-child(1) .card__content .vertical-divider {
  border-left: 1px solid #d1d5db;
  align-self: stretch;
}
html .page-layout .right-layout .card:nth-child(1) .card__content .usage,
body .page-layout .right-layout .card:nth-child(1) .card__content .usage {
  flex: 1;
}
html .page-layout .right-layout .card:nth-child(1) .card__content .charge,
body .page-layout .right-layout .card:nth-child(1) .card__content .charge {
  flex: 1;
}
html .page-layout .right-layout .card:nth-child(2),
body .page-layout .right-layout .card:nth-child(2) {
  flex: 3;
}
html .page-layout .right-layout .card:nth-child(2) .card__content,
body .page-layout .right-layout .card:nth-child(2) .card__content {
  width: 100%;
  height: 100%;
}
html .page-layout .right-layout .card:nth-child(2) .bar-chart,
body .page-layout .right-layout .card:nth-child(2) .bar-chart {
  width: 100%;
  height: 100%;
}
html .page-layout .right-layout .card:nth-child(3),
body .page-layout .right-layout .card:nth-child(3) {
  flex: 1.5;
  background-color: #ffffff;
  border-radius: 4px;
  border: 1px solid #d1d5db;
  padding: 0;
  display: flex;
  flex-direction: column;
}
html .page-layout .right-layout .card:nth-child(3) .card__header,
body .page-layout .right-layout .card:nth-child(3) .card__header {
  border-bottom: 1px solid #d1d5db;
  padding: 16px 20px;
  flex-shrink: 0;
}
html .page-layout .right-layout .card:nth-child(3) .card__content,
body .page-layout .right-layout .card:nth-child(3) .card__content {
  padding: 20px 24px;
  flex: 1;
}
html .page-layout .right-layout .card:nth-child(3) .card__content,
body .page-layout .right-layout .card:nth-child(3) .card__content {
  display: flex;
  justify-content: flex-start;
  gap: 40px;
  align-items: center;
}
html .page-layout .right-layout .card:nth-child(3) .card__content .vertical-divider,
body .page-layout .right-layout .card:nth-child(3) .card__content .vertical-divider {
  border-left: 1px solid #d1d5db;
  align-self: stretch;
}
html .page-layout .right-layout .card:nth-child(3) .card__content .status-box,
body .page-layout .right-layout .card:nth-child(3) .card__content .status-box {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: 18px;
  height: 100%;
}
html .page-layout .right-layout .card:nth-child(3) .card__content .status-box .status,
body .page-layout .right-layout .card:nth-child(3) .card__content .status-box .status {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
html .page-layout .right-layout .card:nth-child(3) .card__content .status-box .status .status-item,
body .page-layout .right-layout .card:nth-child(3) .card__content .status-box .status .status-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
}
html .page-layout .right-layout .card:nth-child(3) .card__content .mode-box,
body .page-layout .right-layout .card:nth-child(3) .card__content .mode-box {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex: 1;
  justify-content: flex-start;
  height: 100%;
}
html .page-layout .right-layout .card:nth-child(3) .card__content .mode-box .mode,
body .page-layout .right-layout .card:nth-child(3) .card__content .mode-box .mode {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 8px;
}
html .page-layout .right-layout .card:nth-child(3) .card__content .mode-box .mode .mode-item,
body .page-layout .right-layout .card:nth-child(3) .card__content .mode-box .mode .mode-item {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}
html .page-layout .right-layout .card:nth-child(3) .card__content .mode-box .mode .mode-item .badge,
body .page-layout .right-layout .card:nth-child(3) .card__content .mode-box .mode .mode-item .badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 4px 8px;
  border-radius: 4px;
}
html .page-layout .right-layout .card:nth-child(3) .card__content .mode-box .mode .mode-item .badge.blue,
body .page-layout .right-layout .card:nth-child(3) .card__content .mode-box .mode .mode-item .badge.blue {
  background-color: #e6f2ff;
}
html .page-layout .right-layout .card:nth-child(3) .card__content .mode-box .mode .mode-item .badge.blue tp-text,
body .page-layout .right-layout .card:nth-child(3) .card__content .mode-box .mode .mode-item .badge.blue tp-text {
  color: #007aff;
}
html .page-layout .right-layout .card:nth-child(3) .card__content .mode-box .mode .mode-item .badge.purple,
body .page-layout .right-layout .card:nth-child(3) .card__content .mode-box .mode .mode-item .badge.purple {
  background-color: #eeeefb;
}
html .page-layout .right-layout .card:nth-child(3) .card__content .mode-box .mode .mode-item .badge.purple tp-text,
body .page-layout .right-layout .card:nth-child(3) .card__content .mode-box .mode .mode-item .badge.purple tp-text {
  color: #5856d7;
}
html .page-layout .right-layout .card:nth-child(3) .card__content .mode-box .mode .mode-item .badge.violet,
body .page-layout .right-layout .card:nth-child(3) .card__content .mode-box .mode .mode-item .badge.violet {
  background-color: #f7eefc;
}
html .page-layout .right-layout .card:nth-child(3) .card__content .mode-box .mode .mode-item .badge.violet tp-text,
body .page-layout .right-layout .card:nth-child(3) .card__content .mode-box .mode .mode-item .badge.violet tp-text {
  color: #3d1d4e;
}
html .page-layout .bottom-layout,
body .page-layout .bottom-layout {
  grid-area: bottom-layout;
}
html .page-layout .bottom-layout .card,
body .page-layout .bottom-layout .card {
  background-color: #ffffff;
  border-radius: 4px;
  border: 1px solid #d1d5db;
  padding: 0;
  display: flex;
  flex-direction: column;
}
html .page-layout .bottom-layout .card .card__header,
body .page-layout .bottom-layout .card .card__header {
  border-bottom: 1px solid #d1d5db;
  padding: 16px 20px;
  flex-shrink: 0;
}
html .page-layout .bottom-layout .card .card__content,
body .page-layout .bottom-layout .card .card__content {
  padding: 20px;
  flex: 1;
}
html .page-layout .bottom-layout .card,
body .page-layout .bottom-layout .card {
  height: 100%;
}
html .page-layout .bottom-layout .card .card__header .key-district-header,
body .page-layout .bottom-layout .card .card__header .key-district-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
html .page-layout .bottom-layout .card .card__header .key-district-header .weather-text,
body .page-layout .bottom-layout .card .card__header .key-district-header .weather-text {
  display: flex;
  gap: 12px;
  align-items: center;
}
html .page-layout .bottom-layout .card .card__header .key-district-header .weather-text .weather-item,
body .page-layout .bottom-layout .card .card__header .key-district-header .weather-text .weather-item {
  display: flex;
  align-items: center;
}
html .page-layout .bottom-layout .card .card__header .key-district-header .weather-text .weather-item tp-text,
body .page-layout .bottom-layout .card .card__header .key-district-header .weather-text .weather-item tp-text {
  display: inline-block;
}
html .page-layout .bottom-layout .card .card__content,
body .page-layout .bottom-layout .card .card__content {
  display: flex;
  flex-direction: column;
}
html .page-layout .bottom-layout .card .card__content .status-tabs,
body .page-layout .bottom-layout .card .card__content .status-tabs {
  display: flex;
  gap: 20px;
}
html .page-layout .bottom-layout .card .card__content .status-tabs .status-tab,
body .page-layout .bottom-layout .card .card__content .status-tabs .status-tab {
  gap: 12px;
  flex: 1;
  border: 1px solid #d1d5db;
}
html .page-layout .bottom-layout .card .card__content .district-card-list,
body .page-layout .bottom-layout .card .card__content .district-card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 8px;
  gap: 20px;
  background-color: transparent;
  transition: background-color 0.2s ease;
}
html .page-layout .bottom-layout .card .card__content .district-card-list.bg-danger,
body .page-layout .bottom-layout .card .card__content .district-card-list.bg-danger {
  background-color: var(--tp-color-red-light);
}
html .page-layout .bottom-layout .card .card__content .district-card-list.bg-warning,
body .page-layout .bottom-layout .card .card__content .district-card-list.bg-warning {
  background-color: var(--tp-color-yellow-light);
}
html .page-layout .bottom-layout .card .card__content .district-card-list.bg-normal,
body .page-layout .bottom-layout .card .card__content .district-card-list.bg-normal {
  background-color: var(--tp-color-green-light);
}
html .page-layout .bottom-layout .card .card__content .district-card-list.bg-etc,
body .page-layout .bottom-layout .card .card__content .district-card-list.bg-etc {
  background-color: var(--tp-color-gray-light);
}
html .page-layout .bottom-layout .card .card__content .district-card-list .district-card,
body .page-layout .bottom-layout .card .card__content .district-card-list .district-card {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 1px solid #d1d5db;
  gap: 16px;
  padding: 20px 24px;
  min-width: 280px;
  flex: 0 0 auto;
  box-sizing: border-box;
}
html .page-layout .bottom-layout .card .card__content .district-card-list .district-card .dist-card__header,
body .page-layout .bottom-layout .card .card__content .district-card-list .district-card .dist-card__header {
  display: flex;
  flex-direction: row;
  gap: 40px;
  justify-content: space-between;
}
html .page-layout .bottom-layout .card .card__content .district-card-list .district-card .dist-card__header .dot,
body .page-layout .bottom-layout .card .card__content .district-card-list .district-card .dist-card__header .dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
}
html .page-layout .bottom-layout .card .card__content .district-card-list .district-card .dist-card__header .header-row,
body .page-layout .bottom-layout .card .card__content .district-card-list .district-card .dist-card__header .header-row {
  display: flex;
  align-items: center;
  gap: 4px;
}
html .page-layout .bottom-layout .card .card__content .district-card-list .district-card .dist-card-body,
body .page-layout .bottom-layout .card .card__content .district-card-list .district-card .dist-card-body {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
html .page-layout .bottom-layout .card .card__content .district-card-list .district-card .dist-card-body .info-row,
body .page-layout .bottom-layout .card .card__content .district-card-list .district-card .dist-card-body .info-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
html .page-layout .bottom-layout .card .card__content .district-card-list .district-card .dist-card-body .dist-card-color,
body .page-layout .bottom-layout .card .card__content .district-card-list .district-card .dist-card-body .dist-card-color {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 4px 8px;
  border-radius: 4px;
}
html .page-layout .bottom-layout .card .card__content .district-card-list .district-card .dist-card-body .dist-card-color.purple,
body .page-layout .bottom-layout .card .card__content .district-card-list .district-card .dist-card-body .dist-card-color.purple {
  background-color: #eeeefb;
}
html .page-layout .bottom-layout .card .card__content .district-card-list .district-card .dist-card-body .dist-card-color.purple tp-text,
body .page-layout .bottom-layout .card .card__content .district-card-list .district-card .dist-card-body .dist-card-color.purple tp-text {
  color: #5856d7;
}
html .page-layout .bottom-layout .card .card__content .district-card-list .district-card.normal .dist-card__header .dot,
body .page-layout .bottom-layout .card .card__content .district-card-list .district-card.normal .dist-card__header .dot {
  background-color: var(--tp-color-green-normal);
}
html .page-layout .bottom-layout .card .card__content .district-card-list .district-card.normal .dist-card__header .header-row .tp-text,
body .page-layout .bottom-layout .card .card__content .district-card-list .district-card.normal .dist-card__header .header-row .tp-text {
  color: var(--tp-color-green-normal);
}
html .page-layout .bottom-layout .card .card__content .district-card-list .district-card.warning .dist-card__header .dot,
body .page-layout .bottom-layout .card .card__content .district-card-list .district-card.warning .dist-card__header .dot {
  background-color: var(--tp-color-orange-normal);
}
html .page-layout .bottom-layout .card .card__content .district-card-list .district-card.warning .dist-card__header .header-row .tp-text,
body .page-layout .bottom-layout .card .card__content .district-card-list .district-card.warning .dist-card__header .header-row .tp-text {
  color: var(--tp-color-orange-normal);
}
html .page-layout .bottom-layout .card .card__content .district-card-list .district-card.danger .dist-card__header .dot,
body .page-layout .bottom-layout .card .card__content .district-card-list .district-card.danger .dist-card__header .dot {
  background-color: var(--tp-color-red-normal);
}
html .page-layout .bottom-layout .card .card__content .district-card-list .district-card.danger .dist-card__header .header-row .tp-text,
body .page-layout .bottom-layout .card .card__content .district-card-list .district-card.danger .dist-card__header .header-row .tp-text {
  color: var(--tp-color-red-normal);
}
html .page-layout .bottom-layout .card .card__content .district-card-list .district-card.gray .dist-card__header .dot,
body .page-layout .bottom-layout .card .card__content .district-card-list .district-card.gray .dist-card__header .dot {
  background-color: var(--tp-color-gray-darker);
}
html .page-layout .bottom-layout .card .card__content .district-card-list .district-card.gray .dist-card__header .header-row .tp-text,
body .page-layout .bottom-layout .card .card__content .district-card-list .district-card.gray .dist-card__header .header-row .tp-text {
  color: var(--tp-color-gray-darker);
}

.card__image {
  position: relative;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card__image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.card__image--bg {
  width: 100%;
  height: auto;
  z-index: 1;
}
.card__image--icon {
  width: 50%;
  height: auto;
  z-index: 2;
  transition: transform 0.3s ease-out;
}
.card__image:hover .card__image--icon {
  transform: translate(-50%, -50%) scale(1.1);
}

.line-break {
  flex-basis: 100%;
  height: 0;
}

.status-tabs .tab {
  display: flex;
  justify-content: flex-start;
  flex: 1;
  gap: 12px;
  padding-bottom: 8px;
  align-items: center;
}
.status-tabs .tab .box {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0px 12px;
  height: 32px;
}
.status-tabs .tab .box .dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.status-tabs .tab.danger .box {
  background-color: var(--tp-color-red-light);
}
.status-tabs .tab.danger .box .dot {
  background-color: var(--tp-color-red-normal);
}
.status-tabs .tab.danger .box .tp-text {
  color: var(--tp-color-red-normal);
}
.status-tabs .tab.danger.active {
  border-bottom: 2px solid var(--tp-color-red-normal);
}
.status-tabs .tab.danger:hover {
  cursor: pointer;
  opacity: 0.8;
}
.status-tabs .tab.danger.disabled .box {
  background-color: transparent;
}
.status-tabs tp-text {
  color: var(--tp-color-gray-darker);
}
.status-tabs .tab.warning .box {
  background-color: var(--tp-color-yellow-light);
}
.status-tabs .tab.warning .box .dot {
  background-color: var(--tp-color-orange-normal);
}
.status-tabs .tab.warning .box .tp-text {
  color: var(--tp-color-orange-normal);
}
.status-tabs .tab.warning.active {
  border-bottom: 2px solid var(--tp-color-orange-normal);
}
.status-tabs .tab.warning:hover {
  cursor: pointer;
  opacity: 0.8;
}
.status-tabs .tab.warning.disabled .box {
  background-color: transparent;
}
.status-tabs tp-text {
  color: var(--tp-color-gray-darker);
}
.status-tabs .tab.normal .box {
  background-color: var(--tp-color-green-light);
}
.status-tabs .tab.normal .box .dot {
  background-color: var(--tp-color-green-normal);
}
.status-tabs .tab.normal .box .tp-text {
  color: var(--tp-color-green-normal);
}
.status-tabs .tab.normal.active {
  border-bottom: 2px solid var(--tp-color-green-normal);
}
.status-tabs .tab.normal:hover {
  cursor: pointer;
  opacity: 0.8;
}
.status-tabs .tab.normal.disabled .box {
  background-color: transparent;
}
.status-tabs tp-text {
  color: var(--tp-color-gray-darker);
}
.status-tabs .tab.gray .box {
  background-color: var(--tp-color-gray-light);
}
.status-tabs .tab.gray .box .dot {
  background-color: var(--tp-color-gray-darker);
}
.status-tabs .tab.gray .box .tp-text {
  color: var(--tp-color-gray-darker);
}
.status-tabs .tab.gray.active {
  border-bottom: 2px solid var(--tp-color-gray-darker);
}
.status-tabs .tab.gray:hover {
  cursor: pointer;
  opacity: 0.8;
}
.status-tabs .tab.gray.disabled .box {
  background-color: transparent;
}
.status-tabs tp-text {
  color: var(--tp-color-gray-darker);
}

/*# sourceMappingURL=dashboard.css.map */
